.bg{
    background-image: url("../../assets/images/industry2.jpg");
    /* Full height */
    height: 100vh;
    width: 100vw;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-header{
    width: 50%;
    /* padding-right: 50%; */
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background-color: rgb(138, 250, 201);

}

.search-box.form-control {
    top: 50%;
    left:45%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 25%;
}

.form-control{
    width: 40%;
    text-align: center;
    /* float: right; */
    margin-left: 30%;
    margin-right: 30%;
    /* position: relative; */
    /* margin-top: -2%; */
    /* margin-right: 100%; */

}

.btn btn-outline-secondary{
    /* float:right; */
    position: relative;
}
.col-sm-8{
    margin-left: 250px;
    margin-top: -50px;
}
.unit{
    margin-top: -10px;
}
.price{
    margin-left: 300px;
    margin-top: -80px;
}
.rec{
    margin-left: -5%;
}
.ava{
    margin-left: 1%;
}
